/*
*{
	border: 2px solid red;
}
*/
html{
	font-size: 10px;
}

.gameSpaces{}

.onboardvisFormat {
	/*Look and Feel of Board Space*/
	margin: .2rem;
	width: 5rem;
	height: 5rem;
	background: #B67B2D;
	position: absolute;
	border-radius: 15%;
}

.onboardtextFormat{
	letter-spacing: 2px;
	text-align: center;
	line-height: 5rem;
	font-size: 1.8rem;
	text-shadow: .0625rem .0625rem;
}

.tw{
	background: orange;

}

.dw{
	background: pink;

}

.dl{
	background: blue;
	
}

.tl{
	background: purple;

}

.tileNatural{
	background: yellow;
	text-transform: capitalize;
	border: 1px solid green;
	position: absolute;
}
.tilePlayed{

}

.tileWrong{

}
    

.container {
	/*margin: 1rem auto;*/
	float: left;
	width: 64.8rem;
	height: 64.8rem;
	max-width: 65rem ; 
	position: relative;
	border: 1px solid orange;
	background: #704000;
}

.tileArea {
	/*margin: 1rem auto;*/
	float: left;
	width: 59.3rem;
	height: 16.2rem;
	max-width: 65rem ; 
	position: relative;
	border: 1px solid orange;
	background: gray;
	margin-left: 5.5rem;
}

.checkBtn{
	/*float: right;*/
	background-color: cyan;
	width: 4.8rem;
	height: 15rem;
	top: 0;
	left: 54rem;
	margin-top: .6rem;
}


.form{
	font-size: 3em;
	/*size: 5rem;*/
	border: 2px solid red;
}

.tBox{
	width: 15rem;
	height: 3rem;
}

/*.subButton{
	height: 1rem;
}*/