
*{
	border: 2px solid red;
}

html{
	font-size: 16px;
}

.wordList{
	display: none;
}

.boardspace {
	/*Look and Feel of Board Space*/
	margin: .2rem;
	width: 5rem;
	height: 5rem;
	background: #9AD58E;
	position: absolute;
	border-radius: 15%;
}


.boardspace2 {
	/*Look and Feel of Board Space*/
	margin: .2rem;
	width: 5rem;
	height: 5rem;
	background: pink;
	position: absolute;
	border-radius: 15%;

	/*Other 
	dynamic information*/
	top: 0;
	left: 5.4rem;
}

.boardspace3 {
	/*Look and Feel of Board Space*/
	margin: .2rem;
	width: 5rem;
	height: 5rem;
	background: pink;
	position: absolute;
	border-radius: 15%;

	/*Other 
	dynamic information*/
	top: 0;
	left: 10.8rem;
}




.container {
	margin: 1rem auto;
	width: 64.8rem;
	height: 64.8rem;
	max-width: 65rem ; 
	position: relative;
	border: 1px solid orange;
	background: #408E2F;
}

.form{
	font-size: 2em;
}